@{ViewData["Title"] = "Trang Them Can Ho";}




<form action="InsertCH" method="post">
        Ma can ho <input type="text" name="MaCanHo">
        Ten chu ho <input type="text" name="TenChuHo">
        <input type="submit" name="submit" value="Them">
</form>
